@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

@import "tailwindcss";

@theme {
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-bellefair: "Bellefair", serif;
  --font-barlow: "Barlow", sans-serif;
  --color-white: #ffffff;
  --color-blue-300: #d0d6f9;
  --color-blue-900: #0b0d17;
}

@layer base {
  html {
    overflow-x: hidden;
  }
  body {
    font-family: "Barlow Condensed", sans-serif;
    overflow-x: hidden;
  }
}

/* Header */
@layer components {
  .link {
    display: flex;
    align-items: center;
    gap: 12px;
    letter-spacing: 2px;
    border-right: 3px solid transparent;
    border-bottom-color: transparent;
    transition: 0.3s ease-in border-color;
    &:hover {
      border-color: rgba(255, 255, 255, 0.5);
    }
    &.active {
      border-color: white;
    }
  }
  /* destination */
  .destination {
    display: inline-block;
    padding-bottom: 15px;
    height: 32px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2.1px;
    color: var(--color-blue-300);
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    &:hover {
      color: var(--color-white);
    }
  }
  /* crew */
  .pagination {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-white);
    opacity: 17.44%;
    cursor: pointer;
    transition: 0.3s opacity;
    &:hover {
      opacity: 50.1%;
    }
  }
  /* technology */
  .technology {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--color-white);
    font-family: var(--font-bellefair);
    font-size: 18px;
    line-height: normal;
    border: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
    transition: 0.3s ease-in border-color;
    &:hover {
      border-color: var(--color-white);
    }
  }
}

@media (min-width: 1200px) {
  .links {
    gap: 48px;
  }
}

/* Home */
.home-bg {
  background-image: url("../src/assets/home/background-home-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .home-bg {
    background-image: url("../src/assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .home-bg {
    background-image: url("../src/assets/home/background-home-desktop.jpg");
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 110px 40px;
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 120px 0;
  }
}

.scale-up {
  transform: scale(0);
  animation: scale-up 0.6s ease-in forwards;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* destination */
.destination-bg {
  background-image: url("../src/assets/destination/background-destination-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .destination-bg {
    background-image: url("../src/assets/destination/background-destination-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .destination-bg {
    background-image: url("../src/assets/destination/background-destination-desktop.jpg");
  }
}

/* crew */
.crew-bg {
  background-image: url("../src/assets/crew/background-crew-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .crew-bg {
    background-image: url("../src/assets/crew/background-crew-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .crew-bg {
    background-image: url("../src/assets/crew/background-crew-desktop.jpg");
  }
}

/* technology */
.tech-bg {
  background-image: url("../src/assets/technology/background-technology-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .tech-bg {
    background-image: url("../src/assets/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .tech-bg {
    background-image: url("../src/assets/technology/background-technology-desktop.jpg");
  }
}
